# http://editorconfig.org/

[*Tests.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = silent

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = suggestion
